html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
rt,
rp,
bdi,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
section,
nav,
footer {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 1px solid #fafafa;
}
em,
i,
cite {
  font-style: normal;
}
img {
  border: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
i,
em {
  display: inline-block;
  font-style: none;
}
img {
  width: 100%;
  border: none;
} /*img在a链接内  ie7、 ie8 下清除默认边框*/
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; /*去掉点击时出现阴影（移动端）*/
  -webkit-touch-callout: none; /*                |   */
  -webkit-user-select: none; /*                  |   */
}
input:focus,
input,
select:focus,
select,
textarea:focus,
textarea,
button:focus,
button {
  outline: none;
  -webkit-border-radius: 0;
}
input,
button {
  -webkit-border-radius: 0;
  margin: 0;
  padding: 0;
  border: none;
}
input[type="button"],
button,
input[type="submit"] {
  -webkit-appearance: none;
} /*ios按钮背景问题*/
body {
  -webkit-user-select: none; /*设置或检索是否允许用户选中文本*/
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
input[type="search"] {
  -webkit-appearance: none;
} /*去掉input[type=search]的小叉号*/
input::-webkit-search-cancel-button {
  display: none;
} /*去掉input[type=search]的小叉号*/
input[type="text"],
input[type="password"] {
  -webkit-box-shadow: 0 0 10px 10px #fff inset;
  box-shadow: 0 0 10px 10px #fff inset;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 80px #fff inset; /*解决input输入框输入后背景变黄*/
  -moz-box-shadow: 0 0 0 80px #fff inset;
  -ms-box-shadow: 0 0 0 80px #fff inset;
}
::-webkit-input-placeholder {
  color: #999;
} /*改变input的placeholder属性颜色*/
:-moz-placeholder {
  color: #999;
}
::-moz-placeholder {
  color: #999;
}
:-ms-input-placeholder {
  color: #999;
}
